.middle{
  background-image: url(../public/bh_bg.png);
  width: auto;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;

}

.middle-image{
 
}