.middle{
  background-image: url(bh_bg.png);
  width: auto;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

}

.middle-image{
 
}