.hero{
    background-image: url("../public/BG1.png");
    width: auto;
    height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: dd;
    
  
}


.hero-one{
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    >img{
        width: 180px;
        height: 180px;
    }
}

.hero-two{
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-top: 3rem;
    >img{
        width: 180px;
        height: 180px;
    }
}

.page-one{
    background-image: url('../public/BG.png');
    width: auto;
    height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: dd;
}

.page-one-one{
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    >img{
        width: 180px;
        height: 180px;
    }
}