:root {
  
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'graffiti';
  src: url('../public/Linebeam.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  
}


body {
  margin: 0;
}


